#app-container {
  font-family: "Futura"
}

.header{
  font-weight: 400;
  padding-bottom: 10px;
}

.season {
  text-align: center;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  padding: 20px 0;
  color: grey;
  font-weight: lighter;
}

.choices {
    background-color: rgb(205, 92, 92);
    color: white;
    padding: 8px;
    display: inline-block;
    margin-right: 5px;
}

.search {
  list-style: none;
  display: inline-block;
  color: lightgrey;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 2px lightgrey solid;
  margin: 0px 10px 10px 40px;
  padding-right: 10px;
  max-width: 100%;
}
